@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swap");

* {
    box-sizing: border-box;
}
// Body styles
body {
    padding-inline: 20px;
    max-width: 70rem;
    margin-block: 0;

    margin-left: auto;
    margin-right: auto;

    height: 100%;
}

// Font family styles
h1,
h2,
h3,
h4 {
    font-family: "Raleway", sans-serif;
}

p,
span {
    font-family: "Readex Pro", sans-serif;
}

// Paragraph styles
p {
    font-size: 20px;
}

// Bold text styles
b {
    font-weight: 500;
}

a {
    color: #565454;
}

// Emoji styles
.emoji {
    width: 18px;
    margin-right: 2px;
}

h1 {
    font-size: 40px;
}

.center {
    text-align: center;
}

.bubbles {
    position: absolute;
    z-index: -9999;
    right: calc(((100% - 70rem) / 2) - 150px);

    object-position: right;
    width: 700px;
}

// Profile card styles
.profile-card {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;

    flex-wrap: nowrap;

    // Info section styles
    .info {
        display: flex;
        flex-direction: column;
        width: 500px;

        .name {
            font-size: 70px;
            max-width: 100%;
            // font-size: clamp(50px, 5vw, 70px);
            margin: 0;
        }

        // Meta info styles
        .meta-info {
            color: #757575;
            display: flex;
            flex-wrap: wrap;

            margin-left: 6px;

            // Meta item styles
            .meta-item {
                display: flex;
                align-items: center;
                margin-right: 10px;

                .icon {
                    margin-right: 3px;
                }
            }
        }

        // Description section styles
        .description {
            padding-block: 10px;

            p {
                margin: 10px 0;
            }
        }
    }

    // Avatar styles
    .avatar {
        width: 350px;
        border-radius: 50%; // Makes the image circular
        overflow: hidden; // Hides parts of the image outside the circular area

        display: flex;
        align-items: center;

        justify-content: center;
        box-shadow: 0px 0px 20px 10px #0000002e;

        img[alt="Avatar"] {
            width: 100%;
            height: 100%;
        }
    }
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    transition: transform 0.3s ease-in-out;
    margin-bottom: 10px;

    .project-tab {
        border: 1px solid #cccccc;
        border-radius: 10px;
        padding-inline: 14px;

        width: -webkit-fill-available;
        height: auto;

        cursor: pointer;
        background-color: #ffffff;
        transition: all 0.3s ease-in-out;

        position: relative;
        flex: 1 1 230px;

        .project-header {
            display: flex;
            justify-content: space-between;
            align-items: stretch;

            margin: 14px 0 0;

            img[alt="Open"] {
                opacity: 0;
                transition: opacity 0.3s ease-in-out;
            }
        }
        .repo {
            display: inline-flex;
            align-items: stretch;
            flex-wrap: nowrap;

            flex-direction: row;

            .icon {
                margin-right: 5px;
            }

            .name {
                font-size: 17px;
            }
        }

        .description p {
            font-size: 12px;
            color: #757575;
            margin-top: 4px;
        }

        &:hover {
            transform: scale(1.05);

            &::before {
                opacity: 0.3;
            }
        }

        // &:hover::before {
        //     opacity: .3;
        // }

        &::before {
            content: "";
            z-index: -9999;
            position: absolute;

            top: 0;
            bottom: 0;

            right: 0;
            left: 0;

            background: linear-gradient(-45deg, #e81cff, #40c9ff);
            transform: translateZ(0) scale(0.9);
            filter: blur(20px);

            opacity: 0;
            transition: opacity 0.3s;

            border-radius: inherit;
        }

        &::after {
            content: "";
            z-index: -1;
            position: absolute;

            top: 0;
            bottom: 0;

            right: 0;
            left: 0;

            background: inherit;
            border-radius: inherit;
        }

        &:hover .project-header img[alt="Open"] {
            opacity: 1;
        }
    }
}

@media (max-width: 890px) {
    .bubbles,
    .profile-card .avatar {
        display: none;
    }
}

@media (max-width: 550px) {
    .profile-card .info .name {
        font-size: 50px;
    }
}
